.notes {
    justify-content: center;
}

.note {
    width: 800px;
    height: calc(100% - 200px);
}

.pic {
    width: 800px;
}

.small__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #6C6C6C;
    height: 170px;
    width: auto !important;
}

.small__text p {  
    width: auto !important;
}